{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}<title>Change Password</title>{% endblock %}

{% block content %}
<style>
    .container .card  .password_change .asteriskField,.container .card  .password_change  .requiredField{
    display: none;
}

.container .card  .password_change #div_id_oldpassword input,.container .card  .password_change #div_id_password1 input, .container .card  .password_change #div_id_password2 input{
   background-color: rgb(244, 242, 242);

}
.container .card  .password_change #div_id_oldpassword input:focus, .container .card  .password_change #div_id_password1 input:focus, .container .card  .password_change #div_id_password2 input:focus{
  outline: 1px solid rgb(138,43,226);
  box-shadow: none;
}
.container .card .password_change button{
  background-color: black;
  box-shadow: none;
  outline: rgb(138,43,226);
  color:white
}
.container .card  .password_change button:hover{
  background-color: rgb(135, 7, 255);
  box-shadow: none;
  outline: rgb(138,43,226);
  color:white
}
.container .card-body{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
</style>
<section class="align-items-center text-center ">
    <div class="container">
        <div class="row d-flex justify-content-center py-5">
            <div class="col-lg-5 py-5">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title text-center">Change Password</h1>
        
        
                        <form method="POST" action="{% url 'account_change_password' %}" class="password_change mt-4">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <div class="d-grid gap-2 py-2">
                                <button type="submit" class="btn" name="action">{% trans "Change Password" %}</button>
                            </div>
                           
                            <a href="{% url 'account_reset_password' %}" style="text-decoration: none;">{% trans "Forgot Password?" %}</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

{% endblock %}