{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}


{% block title %}<title>password word reset done</title>{% endblock %}
{% load account %}



{% block content %}
<section class="align-items-center text-center py-5">
    <h1 class="text-center">Password Reset</h1>
    <p class="text-center d-flex justify-content-center mx-5">
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
    </p>
   
    
    <p class="text-center">{% blocktrans %}We have sent you an e-mail. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}</p>
</section>
   
{% endblock %}