{% extends "base.html" %}
{% load account %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}


{% block title %}<title>Password reset</title>{% endblock %}
{% block content %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Capriola&display=swap');

    .container .title {
        font-family: 'Capriola', sans-serif;
        color: rgb(138, 43, 226);

    }

    .container .row .col-lg-6 .card .password_reset .asteriskField,
    .container .row .col-lg-6 .card .password_reset .requiredField {
        display: none;
    }

    .container .row .col-lg-6 .card .password_reset #div_id_email input {
        background-color: rgb(244, 242, 242);

    }

    .container .row .col-lg-6 .card .password_reset #div_id_email input:focus,
    .container .row .col-lg-6 .card .password_reset #div_id_email input:focus {
        outline: 1px solid rgb(138, 43, 226);
        box-shadow: none;
    }

    .container .row .col-lg-6 .card .password_reset input {
        background-color: black;
        box-shadow: none;
        outline: rgb(138, 43, 226);
        color: white
    }

    .container .row .col-lg-6 .card .password_reset input:hover {
        background-color: rgb(135, 7, 255);
        box-shadow: none;
        outline: rgb(138, 43, 226);
        color: white
    }


    .container .card-body {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }
</style>
<div class="container">
    
   

    <p class="text-center mt-5">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
    <div class="row align-items-center d-flex justify-content-center mt-5">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title text-center">Password Reset</h1>
                    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset py-4">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="d-grid gap-2">
                            <input type="submit" class="btn " value="{% trans 'Reset My Password' %}" />
                        </div>
                        <p class="text-center">{% if user.is_authenticated %}
                            {% include "account/snippets/already_logged_in.html" %}
                            {% endif %}</p>
                        
                    </form>
                </div>
            </div>
        </div>

    </div>

    <p class="text-center">Please contact us if you have any trouble resetting your password.</p>
</div>

{% endblock %}